@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.write {
  &__container {
    padding: 20px 60px;
    max-width: 1028px;
    margin: 0 auto;
  }
}

.content {

  &__elem {
    font-size: 24px;
    margin-top: 20px;

    p {
      margin-bottom: 6px;
      color: $highlight-additional;
    }
  }

  &__title {
    width: 30vw;
    border-radius: 0;
    border-style: solid;
    border-color: $border-color-main;
    background-color: transparent;
  }

  &__description {
    height: 20vh;
    width: 30vw;
    font-size: 20px;
  }
}

.menu {
  margin-top: 20px;
}